@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  background-image: url(planets_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,147,223,1) 35%, rgba(0,212,255,1) 100%);; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.portafolio__container {
  width: 80%;
  height: 100%;
  background-color: rgb(164, 164, 231);
  opacity: 0.8;
}
/* menu */

.navbar {
  width: 100%;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(211, 212, 223, 1) 52%,
    rgba(6, 17, 66, 1) 96%
  );
  height: 48px;
  padding: 10px 12px;
  position: relative;
}

.checkboxnav,
.icons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.icons {
  pointer-events: none;
  font-size: 24px;
}

.checkboxnav {
  opacity: 0;
}

.fi-rr-cross {
  display: none;
}

.checkboxnav:checked ~ .fi-rr-menu-burger {
  display: none;
}

.checkboxnav:checked ~ .fi-rr-cross {
  display: block;
}

.menunav {
  background-color: rgb(97, 97, 133);
  width: 200px;
  position: absolute;
  top: -154px;
  z-index: 1;
  right: 0px;
  transition: 250ms;

}
.menunav li {
  list-style-type: none;
}

.menunav li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 12px;
}

.menunav li a:hover {
  background-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(128, 72, 196, 1) 0%,
    rgba(56, 109, 120, 1) 100%
  );
}
.checkboxnav:checked ~ .menunav {
  top: 48px;
}
.portafolio__container {
  width: 90%;
  height: 100%;
  background-color: rgb(164, 164, 231);
  opacity: 0.8;
}
.containertittle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  margin-top: 10%;
  margin-bottom: 15%;
}
.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tittle h1 {
  font-size: 1.2rem;
  text-align: center;
}
.imgtittle {
  height: 100px;
  width: 100px;
  border-radius: 350px;
  font-size: 4rem;
}
.containerparrafo p {
  font-size: 1rem;
  text-align: center;
}
.containerherramientas {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-top: 10%;
    margin-bottom: 15%;
}
.herramientasgrupo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.herramientasgrupo h2{
    font-size: 1.2rem;
    text-align: center;
}
.figureherramientas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 10%;
    margin-bottom: 15%;
}
.herramientasimg{
    width: 35%;
    height: 35%;
 
}
.boxpadre {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-top: 10%;
    margin-bottom: 15%;
}
.boxpadre__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}
.imgdev{
    width: 100%;

}

@media (min-width: 560px){
  .menunav li a:hover{
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(69,69,235,1) 35%, rgba(0,212,255,1) 100%);;
  }  
  .menunav{
    background-color: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(128, 72, 196, 1) 0%,
      rgba(56, 109, 120, 1) 100%
    ); 
  }
}
@media (min-width: 560px){
  .checkboxnav, .fi-rr-menu-burger, .fi-rr-cross{
   display: none;
  }
  .menunav{
   top: 0;
   z-index: 1;
   width: unset;
   display: flex;
   height: 48px;
  }
  .menunav li a{
   height: 48px;
   padding: 14px 12px 6px;
  }
} 

@media (min-width: 560px){
  .imgtittle{
      height: 300px;
      width: 300px;
      border-radius: 350px;  
      z-index: 100px;
  }
}
@media (min-width: 560px){
  .containerparrafo{
      display: flex;
      justify-content: center; 
      margin: 20px; 
  }
}
@media (min-width: 560px){
  .containerparrafo .parrafo{
      font-size: 2rem;
  }
}


@media (min-width: 560px){
  .tittle h1{
     display: flex;
     justify-content: center;
     font-size: 3rem;
  } 
  
}
@media (min-width: 560px){
  .containertittle{
  width: 100%;
  height: 400px;
  }
}

@media (min-width: 560px){
  .herramientasgrupo h2{ 
      /* margin-left: 300px; */
      margin-top: 50px;
      padding: 20px;
      font-size: 2rem;
      
  }
}
@media (min-width: 560px){
  .containerherramientas{
      width: 100%;
      height: 400px;
  }
}
@media (min-width:560px){
  .figureherramientas .herramientasimg{
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 560px){
  .herramientasimg{
      width: 150px;
      height: 150px;
      padding: 10px;
      margin-top: 60px;
  }
}

@media (min-width: 560px){
  .boxpadre, .boxpadre__container{
      display: flex;
      flex-direction: row;
      
  }
}

@media (min-width:560px){
  .imgdev{
      width: 300px;
      height: 300px;
  }
}