@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  background-image: url(nebulosa.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,147,223,1) 35%, rgba(0,212,255,1) 100%);; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1{
  font-family: 'Earth Orbiter 3D', sans-serif;
  color:rgb(59, 29, 77);
}
.portafolio__container {
  width: 80%;
  height: 100%;
  background-color: rgb(164, 164, 231);
  opacity: 0.8;
}
/* menu */
.parrafo{
  /* font-family: 'Earth Orbiter Academy Italic', sans-serif; */
  color: rgb(23, 8, 41);
  
}

h2{
  font-family: 'Earth Orbiter Academy Italic', sans-serif;
  color: rgb(23, 8, 41);
  margin: 10px;
}
.navbar {
  width: 100%;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(211, 212, 223, 1) 52%,
    rgba(6, 17, 66, 1) 96%
  );
  height: 48px;
  padding: 10px 12px;
  position: relative;
  font-family: 'Earth Orbiter Academy Italic', sans-serif;
}

.checkboxnav,
.icons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.icons {
  pointer-events: none;
  font-size: 24px;
}

.checkboxnav {
  opacity: 0;
}

.fi-rr-cross {
  display: none;
}

.checkboxnav:checked ~ .fi-rr-menu-burger {
  display: none;
}

.checkboxnav:checked ~ .fi-rr-cross {
  display: block;
}

.menunav {
  background-color: rgb(159, 159, 201);
  width: 200px;
  position: absolute;
  top: -154px;
  z-index: 1;
  right: 0px;
  transition: 250ms;

}
.menunav li {
  list-style-type: none;
}

.menunav li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 12px;
}

/* .menunav li a:hover{
  background-color: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(128, 72, 196, 1) 0%,
    rgba(56, 109, 120, 1) 100%
  );
} */
.menunav li a:hover{
      background: linear-gradient(90deg, rgba(113, 108, 207, 0.288) 0%, rgb(132, 132, 204) 35%, rgb(128, 65, 180) 100%);;
  }  
.checkboxnav:checked ~ .menunav {
  top: 48px;
}
.portafolio__container {
  width: 90%;
  height: 100%;
  background-color: rgb(164, 164, 231);
  opacity: 0.8;
}
.containertittle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  margin-top: 10%;
  margin-bottom: 15%;
}
.tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.tittle h1{
  font-size: 1.2rem;
  text-align: center;
 
}
.imgtittle{
  height: 100px;
  width: 100px;
  border-radius: 350px;
  font-size: 8rem ;
}
.containerparrafo p {
  font-size: 1rem;
  text-align: center;
  padding: 15px;
}
.containerherramientas {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-top: 10%;
    margin-bottom: 15%;
}
.herramientasgrupo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.herramientasgrupo h2{
    font-size: 1.2rem;
    text-align: center;
}
.figureherramientas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 10%;
    margin-bottom: 15%;
}
.herramientasimg{
    width: 35%;
    height: 35%;
 
}
.boxpadre {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-top: 10%;
    margin-bottom: 15%;
}
.boxpadre__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #000;
}
figcaption{
  padding: 10%;
  font-family: 'Earth Orbiter Academy Italic', sans-serif;
}
.imgdev{
    width: 100%;
}

@media (min-width: 560px){
  .menunav li a:hover{
      background: linear-gradient(90deg, rgba(113, 108, 207, 0.288) 0%, rgb(132, 132, 204) 35%, rgb(128, 65, 180) 100%);;
  }  
  .menunav{
    background-color: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(128, 72, 196, 1) 0%,
      rgba(56, 109, 120, 1) 100%
    ); 
  }
}
@media (min-width: 560px){
  .checkboxnav, .fi-rr-menu-burger, .fi-rr-cross{
   display: none;
  }
  .menunav{
   top: 0;
   z-index: 1;
   width: unset;
   display: flex;
   height: 48px;
   background-color: rgba(159, 159, 201, 0.192);
  }
  .menunav li a{
   height: 48px;
   padding: 14px 12px 6px;
  }
} 

@media (min-width: 560px){
  .imgtittle{
      height: 300px;
      width: 300px;
      border-radius: 350px;  
      z-index: 100px;
  }
   .containerparrafo{
      display: flex;
      justify-content: center; 
      margin: -6px; 
  }
  .containerparrafo .parrafo{
      font-size: 2rem;
  }
   .tittle h1{
     display: flex;
     justify-content: center;
     font-size: 3rem;
     margin: 10px;
  } 
  .containertittle{
    width: 100%;
    height: 400px;
  }
   .herramientasgrupo h2{ 
      /* margin-left: 300px; */
      margin-top: 50px;
      padding: 20px;
      font-size: 2rem;
      
  }
   .containerherramientas{
      width: 100%;
      height: 400px;
  }
  .figureherramientas{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
  }
  .herramientasimg{
      width: 150px;
      height: 150px;
      padding: 10px;
      margin-top: 60px;
  }

   .boxpadre__container{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    
   }
  .imgdev{
      width: 300px;
      height: 300px;
  }
  figcaption{
  padding: 10%;
  font-family: 'Earth Orbiter Academy Italic', sans-serif;
}
}
/* Form */
.container_form{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center ;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(luz.gif);
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  
}

.formulario{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 7px;
  width: 30%;
  border-radius: 10%;
  margin-top: 10%;
}

.formulario *{
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

@media (max-width: 720px){
  .formulario{
    width: 90%;
   
  }
  .container_form{
    width: 90%;
  }
  h3{
    font-size: 2.5rem;
    color: rgba(190, 185, 194, 0.849);
    font-family: 'Earth Orbiter Academy Italic', sans-serif;
  }
}
h3{
  font-size: 1.5rem;
  color: rgba(190, 177, 199, 0.849);
  font-family: 'Earth Orbiter Academy Italic', sans-serif;
}
.formulario input[type="buttom"]{
  width: 50%;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease-out;
}

.formulario input[type="buttom"]:hover{
  background-color: blueviolet;
}

.formulario input, .formulario textarea{
  font-size: 0.9rem;
  font-family: 'Earth Orbiter Academy Italic', sans-serif;
}

.formulario textarea{
  resize: none;
}

.tittle_footer{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.container_text_footer{
  display: flex;
  justify-content: center;
}

.redes_footer{
  display: flex;
  justify-content: center;
}

.redes_footer i{
  font-size: 30px;
  padding: 20px;
}

@media (min-width: 1024){
  .imgtittle{
    /* height: 300px; */
    width: 300px;
    border-radius: 350px;  
    z-index: 100px;
}
 .containerparrafo{
    display: flex;
    justify-content: center; 
    margin: -6px; 
}
.containerparrafo .parrafo{
    font-size: 2rem;
}
 .tittle h1{
   display: flex;
   justify-content: center;
   font-size: 3rem;
   
} 
.containertittle{
  width: 100%;
  /* height: 400px; */
}
 .herramientasgrupo h2{ 
    /* margin-left: 300px; */
    /* margin-top: 50px;
    padding: 20px; */
    font-size: 2rem;
    
}
 .containerherramientas{
    width: 100%;
   /*  height: 400px; */
}
.figureherramientas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.herramientasimg{
    width: 100px;
    /* height: 150px; */
    padding: 10px;
    margin-top: 60px;
}

 .boxpadre__container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  
 }

}